{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">
        Acerca de mí
    </h1>
    
    <div id="contenedor-general">
        
        <p id="parrafo-index">
            ¡Bienvenido/a a mi rincón en internet! Queria comentarte un poco sobre mi. Me llamo Diego y soy un apasionado por la musica y la programacion, lo que mas me mantiene motivado es la idea de poder vivir tranquilo y de manera estable en base a estas dos cosas que me gustan, incluso me motiva mas la idea de combinar ambas y poder trabajar con lo que me apasiona.
            Más allá de mis actividades profesionales, encuentro alegría en tocar la guitarra, salir con mis amigos y jugar videojuegos. Mirando por afuera de todo pasatiempo, creo en la determinacion de las personas cuando se proponen algo, y se que si llegaste a este sitio, es porque tenes un objetivo muy claro...

            He creado este espacio para que puedas unirte este mundo, donde mi objetivo es que seas parte de esta comunidad para que puedas estar en contacto con todo el ambiente de la musica, y si sos un apasionado al igual que yo, poder sacar provecho de todas las secciones y conocimiento que te brinda esta pagina. Acompáñame en este viaje mientras exploramos MusecK!.

            ¡Gracias por visitar y espero conectar contigo pronto!
        </p>
    
    </div>
    
   
{% endblock contenido_variable%}