{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">
        Mi carrito
    </h1>
    <h2 id="mi_h2">
        {{instrumento}} ha sido agregado a su carrito exitosamente.
    </h2>
    <div id="contenedor-general">
        <div id="contenedor-publicacion">
            <ul class="detalle-publicacion">
                <li class="lista-pubs">
                    {% if instrumento.imagen %}
                        <img id="mis-img" src="{{ instrumento.imagen.url }}" alt="Imagen del instrumento">
                    {% endif %}
                    <div class="datos-publicacion">
                        <p>Marca: {{ instrumento.marca }}</p>
                        <p>Modelo: {{ instrumento.modelo }}</p>
                        <p>Precio: ${{ instrumento.precio }}</p>
                        <p>Cantidad disponible: {{ instrumento.cantidad_disponible }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   
{% endblock contenido_variable%}