{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">Si desea agregar su instrumento a su carrito, seleccione una cantidad</h1>

    <div id="contenedor-general">
        <div id="contenedor-publicacion">
            <ul class="detalle-publicacion">
                <li class="lista-pubs">
                    {% if instrumento.imagen %}
                        <img id="mis-img" src="{{ instrumento.imagen.url }}" alt="Imagen del instrumento">
                    {% endif %}
                    <div class="datos-publicacion">
                        <p>Marca: {{ instrumento.marca }}</p>
                        <p>Modelo: {{ instrumento.modelo }}</p>
                        <p>Precio: ${{ instrumento.precio }}</p>
                        <p>Cantidad disponible: {{ instrumento.cantidad_disponible }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <form method="get" action="{% url 'FormaPago' %}">{% csrf_token %}
            
            <p>Seleccionar la cantidad que desea agregar a su carrito de compras: <input type="number" name="cantidad" min="1" max="{{ instrumento.cantidad_disponible }}" required></p>
            <button type="submit"><a href="{% url 'MiCarrito' %}">Agregar al carrito</a></button>

        </form>
    </div>

{% endblock contenido_variable %}