{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">Si desea agregar su instrumento a su carrito, ingrese a continuacion:</h1>

    <div id="contenedor-general">
        <div id="contenedor-publicacion">
            <ul class="detalle-publicacion">
                <li class="lista-pubs">
                    {% if instrumento.imagen %}
                        <img id="mis-img" src="{{ instrumento.imagen.url }}" alt="Imagen del instrumento">
                    {% endif %}
                    <div class="datos-publicacion">
                        <p>Marca: {{ instrumento.marca }}</p>
                        <p>Modelo: {{ instrumento.modelo }}</p>
                        <p>Precio: ${{ instrumento.precio }}</p>
                        <p>Cantidad disponible: {{ instrumento.cantidad_disponible }}</p>
                    </div>
                </li>
            </ul>
        </div>
            <form action="{% url 'AgregarProducto' pk=instrumento.id %}" method="post">{% csrf_token %}
                
                <a href="{% url 'MiCarrito' %}">
                    <button type="submit">Agregar al carrito</button>
                </a>
                
            </form>
        </div>

{% endblock contenido_variable %}