{% extends "padre.html" %}

{% block contenido_variable %}
    
    <h1 id="mi-h1">Editar Perfil</h1>
    <div id="contenedor-general">
        <form action="{% url 'EditarPerfil' %}" method="post"> {% csrf_token %}
            
            {{mi_formulario.as_p}}
            <p>Address: <input type="text" name="address" value="{{ usuario.address }}"></p>
            <p>Piso: <input type="number" name="numero-piso" min="0" max="100" value="{{ usuario.piso }}"></p>
            <p>Tarjeta de credito: <input type="number"></p>
            
            <button type="submit">Save</button>
            
        </form>
    </div>

{% endblock contenido_variable%}

