{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">
        Elegir forma de pago
    </h1>
    <h2 id="mi_h2">
        Como desea efectuar su pago?
    </h2>

    <div id="contenedor-general">
        <div id="contenedor-metodo-pago"> 
            <a href="{% url 'ConfirmarPago' %}" id="boton-pago">
                <button id="botones" type="submit" >Tarjeta de credito</button>
            </a>
            <a href="" id="boton-pago">
                <button id="botones" type="submit" >Efectivo</button>
            </a>
        </div> 
    </div>

{% endblock contenido_variable %}