{% extends "padre.html" %}

{% block contenido_variable %}

<h1 class="mi_h1">
    Bienvenido a MusecK!
</h1>
<p>{{message}}</p>

<p>
    Bienvenido a MusecK: Explora el Mundo de la Música
    
    En MusecK, sumérgete en un universo vibrante donde la pasión por la música cobra vida. Desde aficionados hasta profesionales, nuestra plataforma está diseñada para todos los amantes de los sonidos y melodías que transforman nuestras vidas.
    
    Explora Música de Todos los Géneros
    
    Descubre una amplia colección de música que abarca géneros desde clásicos atemporales hasta las últimas tendencias. Nuestra sección exclusiva de música te invita a explorar y disfrutar de canciones que inspiran, emocionan y mueven el alma.
    
    Descubre y Conecta con Artistas
    
    Sumérgete en las historias y trayectorias de los artistas que dan forma al panorama musical actual. Desde músicos emergentes hasta íconos establecidos, conoce sus carreras, inspiraciones y contribuciones a la industria en nuestra sección dedicada a los artistas.
    
    Mercado de Instrumentos: Tu Destino para Equipos Musicales
    
    Explora nuestro mercado de instrumentos donde encontrarás desde guitarras y pianos hasta equipos de grabación de última generación. Conecta con vendedores confiables y descubre el instrumento perfecto que elevará tu arte musical a nuevas alturas.
    
    En MusecK, la música es más que sonido: es una experiencia compartida que une a personas de todos los rincones del mundo. Únete a nuestra comunidad y deja que la música te inspire, te emocione y te transforme.
    
    ¡Bienvenido a MusecK, donde la pasión por la música encuentra su hogar!
</p>

{% endblock contenido_variable%}