{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">
        Los principales generos musicales predominantes
    </h1>
    <div id="contenedor-general">  
        <ul class="detalle-publicacion">
            {% for genero in generos %}
            <li>
                <a id="generos-links" href="{% url 'DetalleGeneros' genero.id %}">
                    {{genero}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock contenido_variable %} 