{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">
        Market-MusecK
    </h1>
    
    <h2 id="mi_h2">
        Que desea hacer?
    </h2>
    <div id="contenedor-general">
        <ul class="ul-categorias">
            {% for categoria in categorias %}  
                <li>
                        
                    <a id="generos-links" href="{% url 'DetalleCategoria' pk=categoria.pk %}">{{ categoria.nombre }}</a>
                            
                </li>        
            {% endfor %} 
            <li>
                <a id="generos-links" href="{% url 'CrearPublicaciones' %}">Vender</a>
            </li>
        </ul>
    </div>      
{% endblock contenido_variable%}

CrearPublicaciones

