<nav class="navbar navbar-light bg-light static-top" id="navbar">
    <div class="container" id="mi_container">
        <div class="cont-inicio">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'ListaGeneros' %}">Musica</a>
        <a class="navbar-brand" href="{% url 'Artistas' %}">Artistas</a>
        <a class="navbar-brand" href="{% url 'Categorias' %}">Mercado</a>
        {% if user.is_authenticated %} 
            <p>
                Sesion: {{user.username}} 
            </p>
            {% if avatar %}
                <img src="{{url }}" alt="Avatar de {{ usuario.username }}">
            {% else %}
                <span>No hay avatar disponible</span>
            {% endif %}
            <a href="{% url 'EditarPerfil' %}">
                <button type="submit">Editar Perfil</button>
            </a>
            <form action="{% url 'LogoutUser' %}" method="post"> {% csrf_token %}
                <button type="submit">Salir</button>
            </form> 
        {%else%}
            <div class="cont-login-register">
            
                <a class="btn btn-primary" href="{% url 'Registro' %}">Registrarse</a>
                <a class="btn btn-primary" href="{% url 'IniciarSesion' %}">Iniciar sesion</a>
            
            </div>
        {% endif %}
        
    </div>
</nav>