{% extends "padre.html" %}

{% block contenido_variable %}

    <h1 id="mi-h1">
        Metodo de pago
    </h1>
    <h2 id="mi_h2">
        Ingrese los datos de su tarjeta:
    </h2>

    <div id="contenedor-general" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        
        <form method="post">
            {% csrf_token %}
            {{ mi_formulario.as_p }}
            <button type="submit">Completar pago</button>
        </form>

    </div>


{% endblock contenido_variable %}