{% extends "padre.html" %}

{% block contenido_variable %}

<h1 id="mi-h1">Resultado de búsqueda de instrumentos</h1>

{% if resultados %}
    <div id="contenedor-general">   
        {% for instrumento in resultados %}
        <div id="contenedor-publicacion">
            <ul class="detalle-publicacion">
                <li class="lista-pubs">
                    {% if instrumento.imagen %}
                        <img id="mis-img" src="{{ instrumento.imagen.url }}" alt="Imagen del instrumento">
                    {% endif %}
                    <div class="datos-publicacion">  
                        <p>Marca: {{ instrumento.marca }}</p>
                        <p>Modelo: {{ instrumento.modelo }}</p>
                        <p>Precio: ${{ instrumento.precio }}</p>
                        <p>Cantidad disponible: {{ instrumento.cantidad_disponible }}</p>
                    </div>   
                    <div id="botones-publicacion">   
                        
                        <button id="boton" type="submit"><a id="botones" href="{% url 'DatosCompras' pk=instrumento.id %}">Comprar</a></button>
                          
                        <button id="boton" type="submit"><a id="botones" href="{% url 'MiCarrito' pk=instrumento.id %}">Agregar al carrito</a></button>
                    
                    </div>      
                </li>
            </ul>
        </div> 
        {% endfor %}
    </div>
{% else %}
    <p>No se encontraron instrumentos que coincidan con la búsqueda.</p>
{% endif %}

{% endblock contenido_variable %}
